<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>homebrew.mxcl.updatelatestprices</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/updatelatestprices</string>
		<string>/tmp/data</string>
		<string>updatedC*</string>
		<string>/tmp/latest</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/dimension.updatelatestprices.stderr</string>
	<key>StandardOutPath</key>
	<string>/tmp/dimension.updatelatestprices.stdout</string>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Hour</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>11</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>22</integer>
		</dict>
	</array>
</dict>
</plist>
