<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>homebrew.mxcl.movedatafromc8todimension</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/movedatafromc8todimension</string>
		<string>$HOME/Resilio Sync/c8data-feed/</string>
		<string>$HOME/Resilio Sync/dimension/data/c8</string>
		<string>updated*</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/dimension.movedatafromc8todimension.stderr</string>
	<key>StandardOutPath</key>
	<string>/tmp/dimension.movedatafromc8todimension.stdout</string>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Minute</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
