<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>technology.dimension.movedatafromc8todimension.sh</string>
	<key>ProgramArguments</key>
	<array>
		<string>sh</string>
		<string>-c</string>
		<string>/Users/doowell/Resilio/dimension/data/c8/scripts/MoveDataFromC8ToDimension.sh</string>
	</array>
	<key>RootDirectory</key>
	<string>/Users/doowell/Resilio/dimension/data/c8/scripts</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>1</integer>
	</dict>
	<key>WorkingDirectory</key>
	<string>/Users/doowell/Resilio/dimension/data/c8</string>
</dict>
</plist>